@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'flowbite/src/themes/default';
@import './fullcalendar-tailwind.css';

@plugin 'flowbite/plugin';

/* content sources */
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../node_modules/flowbite';

/* dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-brand: var(--brand-color);
    --color-accent: var(--brand-color);
    --color-accent-content: var(--brand-color);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
        input,select:not(.datatable-selector),textarea,option{
            @apply border border-gray-300 bg-white text-gray-900 shadow-sm hover:border-gray-400 dark:!bg-gray-800 dark:text-gray-100 dark:border-gray-600 dark:focus:border-blue-400 dark:focus:ring-blue-900 transition;
        }
        .fc .fc-list-sticky .fc-list-day > *{
            @apply !bg-zinc-800;
        }
        /*.fc .fc-list-event:hover td{*/
        /*    @apply !bg-zinc-700;*/
        /*}*/
        --fc-page-bg-color:var(--color-zinc-600);
        .fc-event{
            @apply !cursor-pointer;
            &:hover{
                @apply !bg-zinc-700;
                td{
                    @apply !bg-zinc-700;
                }
            }
        }
    }
}

@layer base {
    :root {
        --bg: #ffffff;
        --text: #0a0a0a;
        --card-bg: #ffffff;
        --card-border: #e5e5e5; /* neutral-200 */
        --muted: #525252; /* zinc-600 */
        --ring: #171717; /* zinc-900 */
    }
    .dark {
        --bg: #0a0a0a; /* zinc-950 */
        --text: #ededec; /* near-white */
        --card-bg: #0f0f10; /* neutral-900-ish */
        --card-border: #262626; /* zinc-800 */
        --muted: #a3a3a3; /* zinc-400 */
        --ring: #ffffff;
    }

    body {
        background-color: var(--bg);
        color: var(--text);
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer components {
    .card {
        @apply rounded-xl border p-4 sm:p-5;
        background-color: var(--card-bg);
        border-color: var(--card-border);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.datatable-container{
    table{
        thead{
            @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
        }
    }
}
